.wrapper {
    margin: 0;
    padding: 0;
    width: var(--selectWidth);
    margin: auto;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: var(--spacingMedium);
    margin-bottom: var(--spacingMedium);
}

.nav_link {
    color: var(--textMenuColor);
    font-size: var(--fontSizeBase);
    font-weight: var(--fontWeightLight);
    text-decoration: none;
}

.nav_link:hover {
    color: var(--linkHoverColor);
}

.logo {
    height: var(--logoHeight);
}

.active {
    color: var(--linkHoverColor);
    font-size: var(--fontSizeBase);
    text-decoration: none;
}
