.container {
    width: var(--containerWidth);
    margin: var(--spacingLarge) auto;
    display: flex;
    align-items: center;
    gap: var(--spacingLarge);
    color: var(--textColor);
    font-size: var(--fontSizeBase);
    font-weight: var(--fontWeightLight);
}
