.name {
    padding: 0;
    margin: 0;
    color: var(--titleCardListColor);
    font-size: var(--fontSizeLarge);
    font-weight: var(--fontWeightSemiBold);
}

.info {
    font-style: italic;
}

.title_instructions {
    padding: 0;
    margin: 0;
    font-size: var(--fontSizeMedium);
    font-weight: var(--fontWeightRegular);
    padding-top: var(--spacingMedium);
}

.ingredients {
    padding-top: var(--spacingMedium);
    font-style: italic;
}
