.container {
    width: var(--containerWidth);
    margin: 0 auto;
}

.card_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: var(--spacingSmall);
}

.title {
    margin: 0;
    padding: 0;
    padding-bottom: var(--spacingMedium);
    padding-top: var(--spacingMedium);
    color: var(--titleCardListColor);
    font-size: var(--fontSizeMedium);
    font-style: italic;
    font-weight: var(--fontWeightRegular);
}

.link {
    text-decoration: none;
}
